@model Japuacu.Blog.Negocio.Modelos.Post

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TituloPost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TituloPost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResumoPost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResumoPost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemPost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemPost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terminado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terminado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor.Cpf)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
